[Unit]
Description=Colmi Ring HTTP API
After=network.target bluetooth.target bluetooth-autoconnect.service
Wants=bluetooth.target
Requires=bluetooth-autoconnect.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/code/colmi-api
EnvironmentFile=/home/pi/code/colmi-api/.env
ExecStart=/home/pi/code/colmi-api/.venv/bin/python app.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
